[package]
name = "${pkgname}"
version = "0.0.1"
build = "build.rs"

[lib]
path = "lib.rs"

[build-dependencies]
pkg-config = "0.3.7"

[dependencies.libc]
git = "https://github.com/rust-lang/libc.git"

[dependencies.grust]
git = "https://github.com/gi-rust/grust.git"

[dependencies.gtypes]
git = "https://github.com/gi-rust/gtypes.git"

%   for xc in mapper.extern_crates():
%       if xc.name is not 'libc' and not mapper.is_excluded(xc):
[dependencies.${xc.name}]
path = "../${xc.name}"
%       endif
%   endfor
